body{
    background-size:cover;
    background-position: center;
}
.heading{
    font-size: 25px;
    margin-top: 0;
    width: 100%;
}
#start,#status,#no_of_objects{
    font-size: 18px;
}
#copyrightFooter{
    color: rgb(0, 0, 0);
    background-color:plum ;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 18px;
}
canvas{
    border: 2px solid rgb(226, 68, 68);
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 5px 5px 18px rgb(226, 83, 83);
}
.input{
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.name{
    font-size: 20px;
}